<span><%= link_to 'Registered students', users_path %> </span>

<span style="margin-left:50px;"><%= link_to 'Books', books_path %></span> 

<h1>Assign to student </h1>

<%= "Work in progress !" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Booking id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= "null" %></td>
        <td><%= link_to 'Assign', user %></<td>
      </tr>
    <% end %>

  </tbody>
  </table>

